{% extends '@!EasyAdmin/page/login.html.twig' %}

{% block header_logo %}
	<div class="logo mb-5">
		<img src="{{ asset('img/logo.svg') }}" alt="PowerADM Logo">
	</div>
	{% if oidcEnabled %}
		<div class="oidc mb-5">
			<a href="{{ path('login_oidc') }}" class="btn btn-secondary btn-lg btn-block p-0">{{ 'pdns.login.oidc'|trans }}</a>
		</div>
	{% endif %}
{% endblock header_logo %}
