:root{
	--color-primary: #e66e00;
	--link-color: var(--color-primary);
	--link-hover-color: #c86100;
	--sidebar-menu-active-item-bg: rgba(230, 110, 0, 0.1);
	--dropdown-settings-active-item-bg: var(--sidebar-menu-active-item-bg);
}
body[data-bs-theme="dark"]{
	--color-primary: #e66e00;
	--link-color: var(--color-primary);
	--link-hover-color: #c86100;
	--button-primary-bg: var(--color-primary);
}

body[data-bs-theme="light"] .only-dark{
	display: none;
}

body[data-bs-theme="dark"] .only-light{
	display: none;
}

.dropdown-settings{
	margin-inline: 8px;
}
.dropdown-settings .dropdown-settings-button{
	padding-inline: 8px;
}