{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
	<div class="tiles">
		<div class="tile">
			<div class="title">{{ forwardZoneCount }}</div>
			Forward Zones
		</div>
		<div class="tile">
			<div class="title">{{ reverseZoneCount }}</div>
			Reverse Zones
		</div>
	</div>
	<div class="config">
		{% include 'pdns_config.html.twig' %}
	</div>
	<div class="stats">
		{% include 'pdns_stats.html.twig' %}
	</div>
{% endblock main %}