{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
	<div class="tiles">
		<div class="tile">
			<div class="title">{{ forwardZoneCount }}</div>
			Forward Zones
		</div>
		<div class="tile">
			<div class="title">{{ reverseZoneCount }}</div>
			Reverse Zones
		</div>
	</div>
{% endblock main %}