{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
	<div class="tiles">
		<div class="tile">
			<div class="title">{{ forwardZoneCount }}</div>
			{% trans %}pdns.forward_zones{% endtrans %}
		</div>
		<div class="tile">
			<div class="title">{{ reverseZoneCount }}</div>
			{% trans %}pdns.reverse_zones{% endtrans %}
		</div>
	</div>
{% endblock main %}